{{> header}}
<main>
<h1 id="userProfile">{{username}}'s Profile</h1>
<div id="contentBox" style="margin:0px auto; width:100%">

    <div id="column1">
        <div class="columnWrapper">
            <br><br>
            Most misspelled words:
            <ul class="mostMisspelled">
                {{#each top_mispelled}}
                    <li>
                        <span class="leftList">{{word}}</span>
                        <span class="rightList">{{count}}</span>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div id="column2">
        <div class="columnWrapper">
            <table>
                <tr>
                    <th>Test Date</th>
                    <th>Test Score</th>
                </tr>
                {{#each results}}
                    <tr>
                        <td>{{date_taken}}</td>
                        <td>{{score}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <form  style ="text-align: center;"   id ="delete" action="/delete" method="get">
        <input class = "logDel" id="delete" value ="Delete" type="submit" name="Delete">
    </form>
</div>
</main>